<html lang="en">
  <head>
          <title>Website - title</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!-- Font Icon -->
  
      <!-- Main css -->
  </head>
  <body >
      <style>
         w3-white, .w3-hover-white:hover {
      color: #000!important;
      background-color: #fff!important;
  }
  .w3-padding {
      padding: 8px 16px!important;
  }
  .w3-card, .w3-card-2 {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  .w3-bar {
      width: 100%;
      overflow: hidden;
  }
  .w3-wide {
      letter-spacing: 4px;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  } 
          
          </style>
          <div class="w3-top">
                  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                    <h3 href="#home" style="color: blue;" class="w3-bar-item w3-button"><b>CHAT BOARD</b></h3>
                    <!-- Float links to the right. Hide them on small screens -->
                    <div class="w3-right w3-hide-small">
                     <span>type and connect</span>
                    </div>
                  </div>
                </div>
  
      <div class="main">
  
          <div class="container">
              <div class="signup-content">
                  <form method="POST" id="signup-form" class="signup-form" [formGroup]="loginForm">
                      <h2>LogIn </h2>
                      <p class="desc"> <span></span></p>
                      
                      <div class="form-group">
                          <input type="email" class="form-input" name="email" id="email" placeholder="Email"  [(ngModel)]='email' formControlName="emailControl"/>
                          <div *ngIf="emailControl.dirty || emailControl.touched">
                          <div *ngIf="emailControl.hasError('required')">
                             <strong>Email address is required</strong> 
                          </div>
                        </div>
                    </div>
                      <div class="form-group">
                          <input type="password"  class="form-input" name="password" id="password" placeholder="Password"  [(ngModel)]='password' minlength="8" maxlength="12"   formControlName="passwordControl">
                          <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
                            <div *ngIf="passwordControl.hasError('required')">
                               <strong>password is required</strong> 
                            </div>
                            <div *ngIf="!passwordControl.hasError('required')">
                                Enter password between <strong>8 and 12</strong> characters. 
                            </div>
                          </div>
                      </div>       
                     
                      
                       <div class="form-group">
                          <input type="submit" (click)="login()" name="submit" id="submit" class="form-submit submit" value="LogIn"/>
                      
                        <input type="submit" (click)="signup()" name="submit" id="submit" class="form-submit submit" value="signUp"/>
                    </div>
                  </form>
              </div>
          </div>
  
      </div>
  
      <!-- JS -->
      <script src="../../../assetsvendor/jquery/jquery.min.js"></script>
      <script src="../../../assets/js/main.js"></script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
  </html>
