<html lang="en">
  <head>
          <title>Website - title</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">


       </head>
  <body >
      <style>
         w3-white, .w3-hover-white:hover {
      color: #000!important;
      background-color: #fff!important;
  }
  .w3-padding {
      padding: 8px 16px!important;
  }
  .w3-card, .w3-card-2 {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  .w3-bar {
      width: 100%;
      overflow: hidden;
  }
  .w3-wide {
      letter-spacing: 4px;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  } 
          
          </style>
          <div class="w3-top">
                  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                    <h3 href="#home" style="color: blue;" class="w3-bar-item w3-button"><b>CHAT BOARD</b></h3>
                    <!-- Float links to the right. Hide them on small screens -->
                    <div class="w3-right w3-hide-small">
                     <span>type and connect</span>
                    </div>
                  </div>
                </div>
  
      <div class="main">
  




<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat"  *ngFor="let item of items">
              <div class="chat_people" *ngIf="item.firstName!=userName">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            
                <div class="chat_ib" (click)="selectChatUser(item.firstName,item._id)">
                  <h5> <span class="chat_date">{{item.firstName}}</span></h5>
                  
                </div>
              </div>
            </div>
            
            
            
          </div>
        </div>
    
        <div class="mesgs">
          <div class="msg_history">
            <div *ngFor="let message of messages">
            <div *ngIf="message.msgFrom!=userName" class="incoming_msg">
              <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" /></div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{message.msg}}</p>
                  <span class="time_date">{{message.date| date:'h:mm a | MMMM d'}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="message.msgFrom==userName" class="outgoing_msg">
              <div class="sent_msg">
                <p>{{message.msg}}</p>
                <span class="time_date">{{message.date| date:'h:mm a | MMMM d'}}</span>
              </div>
            </div>
          </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" [(ngModel)]="txtMessage" placeholder="Type a message" />
              <button class="msg_send_btn" (click)="sendMessage()" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      
      
      
    </div></div>
    
  
      </div>
  
      <!-- JS -->
      <script src="../../../assetsvendor/jquery/jquery.min.js"></script>
      <script src="../../../assets/js/main.js"></script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
  </html>
